In [1]:
pip list

Package            VersionNote: you may need to restart the kernel to use updated packages.

------------------ ------------
annotated-types    0.6.0
anyio              3.7.1
asttokens          2.4.1
certifi            2023.11.17
charset-normalizer 3.3.2
click              8.1.7
colorama           0.4.6
comm               0.2.1
debugpy            1.8.0
decorator          5.1.1
executing          2.0.1
fastapi            0.105.0
h11                0.14.0
idna               3.6
ipykernel          6.28.0
ipython            8.20.0
jedi               0.19.1
joblib             1.3.2
jupyter_client     8.6.0
jupyter_core       5.7.1
matplotlib-inline  0.1.6
nest-asyncio       1.5.8
numpy              1.26.3
packaging          23.2
pandas             2.1.4
parso              0.8.3
pip                23.1.2
platformdirs       4.1.0
prompt-toolkit     3.0.43
psutil             5.9.7
psycopg2-binary    2.9.9
pure-eval          0.2.2
pydantic           2.5.3
pydantic_core      2.14.6
Pygments           2.17.2
python-dateutil    2.8.2
python-dotenv      1.0.0
pytz               2023.3.post1
pywin32            306
pyzmq              25.1.2
requests           2.31.0
scikit-learn       1.3.2
scipy              1.11.4
setuptools         65.5.0
six                1.16.0
sniffio            1.3.0
stack-data         0.6.3
starlette          0.27.0
threadpoolctl      3.2.0
tornado            6.4
traitlets          5.14.1
typing_extensions  4.9.0
tzdata             2023.3
urllib3            2.1.0
uvicorn            0.25.0
wcwidth            0.2.13

[notice] A new release of pip is available: 23.1.2 -> 23.3.2
[notice] To update, run: c:\Users\HTCM\.pyenv\pyenv-win\versions\3.11.4\python.exe -m pip install --upgrade pip

In [2]:
# Use Pandas to do our dataprocessing on the dataset
import numpy as np
import pandas as pd
import requests
api_url = "https://raw.githubusercontent.com/abpZ3R0/LOAN-DATA/main/dataset_2_train.csv"
res = requests.get(api_url)
df = pd.DataFrame(res.json()["data"])
df = df. drop('loan_id', axis=1)
df.head()

,gender,married,dependents,education,self_employed,applicantIncome,coapplicant_income,loan_amount,loan_amount_term,credit_history,property_area,loan_status
0,Male,No,0,Graduate,No,5849,0,12000,12.0,1.0,Urban,Y
1,Male,Yes,1,Graduate,No,4583,1508,12800,12.0,1.0,Rural,N
2,Male,Yes,0,Graduate,Yes,3000,0,6600,12.0,1.0,Urban,Y
3,Male,Yes,0,Not Graduate,No,2583,2358,12000,12.0,1.0,Urban,Y
4,Male,No,0,Graduate,No,6000,0,14100,12.0,1.0,Urban,Y

In [3]:
df.head()

,gender,married,dependents,education,self_employed,applicantIncome,coapplicant_income,loan_amount,loan_amount_term,credit_history,property_area,loan_status
0,Male,No,0,Graduate,No,5849,0,12000,12.0,1.0,Urban,Y
1,Male,Yes,1,Graduate,No,4583,1508,12800,12.0,1.0,Rural,N
2,Male,Yes,0,Graduate,Yes,3000,0,6600,12.0,1.0,Urban,Y
3,Male,Yes,0,Not Graduate,No,2583,2358,12000,12.0,1.0,Urban,Y
4,Male,No,0,Graduate,No,6000,0,14100,12.0,1.0,Urban,Y

In [4]:
# Check the size/shape of our dataset
df.dtypes

gender                 object
married                object
dependents             object
education              object
self_employed          object
applicantIncome         int64
coapplicant_income     object
loan_amount             int64
loan_amount_term      float64
credit_history        float64
property_area          object
loan_status            object
dtype: object

In [5]:
df.isnull().sum()

gender                13
married                3
dependents            15
education              0
self_employed          2
applicantIncome        0
coapplicant_income     0
loan_amount            0
loan_amount_term       0
credit_history        50
property_area          0
loan_status            0
dtype: int64

In [6]:
#Missing value
df['gender'].fillna(df['gender'].mode()[0], inplace=True)

df['married'].fillna(df['married'].mode()[0], inplace=True)

df['dependents'].fillna(df['dependents'].mode()[0.0], inplace=True)

df['self_employed'].fillna(df['self_employed'].mode()[0], inplace=True)

df['loan_amount_term'].fillna(df['loan_amount_term'].mode()[0], inplace=True)

df['credit_history'].fillna(df['credit_history'].mode()[0], inplace=True)

df['loan_amount'].fillna(df['loan_amount'].mean(), inplace=True)

df.isnull().sum()

gender                0
married               0
dependents            0
education             0
self_employed         0
applicantIncome       0
coapplicant_income    0
loan_amount           0
loan_amount_term      0
credit_history        0
property_area         0
loan_status           0
dtype: int64

In [7]:
df.head()

,gender,married,dependents,education,self_employed,applicantIncome,coapplicant_income,loan_amount,loan_amount_term,credit_history,property_area,loan_status
0,Male,No,0,Graduate,No,5849,0,12000,12.0,1.0,Urban,Y
1,Male,Yes,1,Graduate,No,4583,1508,12800,12.0,1.0,Rural,N
2,Male,Yes,0,Graduate,Yes,3000,0,6600,12.0,1.0,Urban,Y
3,Male,Yes,0,Not Graduate,No,2583,2358,12000,12.0,1.0,Urban,Y
4,Male,No,0,Graduate,No,6000,0,14100,12.0,1.0,Urban,Y

In [8]:

import json
import pickle
from os import environ as env
from typing import Dict, List
from sklearn import metrics
import pandas as pd
from fastapi import APIRouter, Body
from pydantic import BaseModel
from sklearn.preprocessing import LabelEncoder

In [9]:
le_gender = LabelEncoder()
df['gender'] = le_gender.fit_transform(df['gender'])

le_married = LabelEncoder()
df['married'] = le_married.fit_transform(df['married'])

le_education = LabelEncoder()
df['education'] = le_education.fit_transform(df['education'])

le_self_employed = LabelEncoder()
df['self_employed'] = le_self_employed.fit_transform(df['self_employed'])

le_property_area = LabelEncoder()
df['property_area'] = le_property_area.fit_transform(df['property_area'])

le_loan_status = LabelEncoder()
df['loan_status'] = le_loan_status.fit_transform(df['loan_status'])

In [ ]:
training\notebook\RandomForestRegressor.ipynb

In [13]:
model = pickle.load(open('../../files/pkl/RFRegression.pkl', 'rb'))

In [25]:
df.head()

,gender,married,dependents,education,self_employed,applicantIncome,coapplicant_income,loan_amount,loan_amount_term,credit_history,property_area,loan_status
0,1,0,0,0,0,5849,0,12000,12.0,1.0,2,1
1,1,1,1,0,0,4583,1508,12800,12.0,1.0,0,0
2,1,1,0,0,1,3000,0,6600,12.0,1.0,2,1
3,1,1,0,1,0,2583,2358,12000,12.0,1.0,2,1
4,1,0,0,0,0,6000,0,14100,12.0,1.0,2,1

In [28]:
#0	Male	No	0	Graduate	    No	5849	0	    12000	12.0	1.0	Urban	Y
#1	Male	Yes	1	Graduate	    No	4583	1508	12800	12.0	1.0	Rural	N
#2	Male	Yes	0	Graduate	    Yes	3000	0	    6600	12.0	1.0	Urban	Y
#3	Male	Yes	0	Not Graduate	No	2583	2358	12000	12.0	1.0	Urban	Y
#4	Male	No	0	Graduate	    No	6000	0	    14100	12.0	1.0	Urban	Y

test_input = pd.DataFrame({
    'gender':'Male',
    'married':'Yes',
    'dependents':0,
    'education':'Graduate',
    'self_employed':'Yes',
    'applicantIncome':3000,
    'coapplicant_income':0,
    'loan_amount':6600,
    'loan_amount_term':360,
    'credit_history':1,
    'property_area': 'Urban'
},index=[0])

test_input['gender']= le_gender.fit_transform(test_input['gender'])
test_input['married']= le_married.fit_transform(test_input['married'])
test_input['education']= le_education.fit_transform(test_input['education'])
test_input['self_employed']= le_self_employed.fit_transform(test_input['self_employed'])
test_input['property_area']= le_property_area.fit_transform(test_input['property_area'])

In [18]:
test_input_2 = pd.DataFrame({
    'gender':'Male',
    'married':'Yes',
    'dependents':0,
    'education':'Graduate',
    'self_employed':'Yes',
    'applicantIncome':3036,
    'coapplicant_income':0,
    'loan_amount':15800,
    'loan_amount_term':12,
    'credit_history':1,
    'property_area': 'Urban'
},index=[0])

test_input_2['gender']= le_gender.fit_transform(test_input_2['gender'])
test_input_2['married']= le_married.fit_transform(test_input_2['married'])
test_input_2['education']= le_education.fit_transform(test_input_2['education'])
test_input_2['self_employed']= le_self_employed.fit_transform(test_input_2['self_employed'])
test_input_2['property_area']= le_property_area.fit_transform(test_input_2['property_area'])

In [19]:
test_input_3 = pd.DataFrame({
    'gender':'Male',
    'married':'Yes',
    'dependents':1,
    'education':'Graduate',
    'self_employed':'No',
    'applicantIncome':4583,
    'coapplicant_income':1508,
    'loan_amount':12800,
    'loan_amount_term':360,
    'credit_history':1,
    'property_area': 'Semiurban'
},index=[0])

test_input_3['gender']= le_gender.fit_transform(test_input_3['gender'])
test_input_3['married']= le_married.fit_transform(test_input_3['married'])
test_input_3['education']= le_education.fit_transform(test_input_3['education'])
test_input_3['self_employed']= le_self_employed.fit_transform(test_input_3['self_employed'])
test_input_3['property_area']= le_property_area.fit_transform(test_input_3['property_area'])

In [20]:
test_input_4 = pd.DataFrame({
    'gender':'Male',
    'married':'No',
    'dependents':3,
    'education':'Graduate',
    'self_employed':'No',
    'applicantIncome':0,
    'coapplicant_income':0,
    'loan_amount':158000,
    'loan_amount_term':12,
    'credit_history':0,
    'property_area': 'Rural'
},index=[0])

test_input_4['gender']= le_gender.fit_transform(test_input_4['gender'])
test_input_4['married']= le_married.fit_transform(test_input_4['married'])
test_input_4['education']= le_education.fit_transform(test_input_4['education'])
test_input_4['self_employed']= le_self_employed.fit_transform(test_input_4['self_employed'])
test_input_4['property_area']= le_property_area.fit_transform(test_input_4['property_area'])

In [29]:
result = model.predict(test_input)
result = np.round(result).astype(int)
result
le_loan_status.inverse_transform(result)

array(['N'], dtype=object)

In [22]:
result = model.predict(test_input_2)
result = np.round(result).astype(int)
result
le_loan_status.inverse_transform(result)

array(['N'], dtype=object)

In [23]:
result = model.predict(test_input_3)
result = np.round(result).astype(int)
result
le_loan_status.inverse_transform(result)

array(['N'], dtype=object)

In [24]:
result = model.predict(test_input_4)
result = np.round(result).astype(int)
result
le_loan_status.inverse_transform(result)

array(['Y'], dtype=object)