In [94]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
from sklearn.preprocessing import LabelEncoder

In [95]:
data = pd.read_csv('./../../files/csv/train_data.csv')

https://debt-api.onrender.com/loan/get_all

In [41]:
data.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0.0,Graduate,No,5849,0.0,12000,12.0,1.0,Urban,Y
1,LP001003,Male,Yes,1.0,Graduate,No,4583,1508.0,12800,12.0,1.0,Rural,N
2,LP001005,Male,Yes,0.0,Graduate,Yes,3000,0.0,6600,12.0,1.0,Urban,Y
3,LP001006,Male,Yes,0.0,Not Graduate,No,2583,2358.0,12000,12.0,1.0,Urban,Y
4,LP001008,Male,No,0.0,Graduate,No,6000,0.0,14100,12.0,1.0,Urban,Y

In [42]:
data.shape

(614, 13)

In [43]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             601 non-null    object
 2   Married            611 non-null    object
 3   Dependents         599 non-null    float64
 4   Education          614 non-null    object
 5   Self_Employed      612 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         614 non-null    int64
 9   Loan_Amount_Term   614 non-null    float64
 10  Credit_History     564 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(4), int64(2), object(7)
memory usage: 62.5+ KB

In [44]:
data.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed         2
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            0
Loan_Amount_Term      0
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [45]:
data.isnull().sum()*100 / len(data)

Loan_ID              0.000000
Gender               2.117264
Married              0.488599
Dependents           2.442997
Education            0.000000
Self_Employed        0.325733
ApplicantIncome      0.000000
CoapplicantIncome    0.000000
LoanAmount           0.000000
Loan_Amount_Term     0.000000
Credit_History       8.143322
Property_Area        0.000000
Loan_Status          0.000000
dtype: float64

In [46]:
data = data.drop('Loan_ID',axis=1)

In [47]:
columns = ['Gender','Dependents','LoanAmount','Loan_Amount_Term']

In [48]:
data = data.dropna(subset=columns)

In [49]:
data.isnull().sum()*100 / len(data)

Gender               0.000000
Married              0.000000
Dependents           0.000000
Education            0.000000
Self_Employed        0.341297
ApplicantIncome      0.000000
CoapplicantIncome    0.000000
LoanAmount           0.000000
Loan_Amount_Term     0.000000
Credit_History       8.361775
Property_Area        0.000000
Loan_Status          0.000000
dtype: float64

In [50]:
data['Self_Employed'].mode()[0]

'No'

In [51]:
data['Self_Employed'] =data['Self_Employed'].fillna(data['Self_Employed'].mode()[0])

In [52]:
data.isnull().sum()*100 / len(data)

Gender               0.000000
Married              0.000000
Dependents           0.000000
Education            0.000000
Self_Employed        0.000000
ApplicantIncome      0.000000
CoapplicantIncome    0.000000
LoanAmount           0.000000
Loan_Amount_Term     0.000000
Credit_History       8.361775
Property_Area        0.000000
Loan_Status          0.000000
dtype: float64

In [53]:
data['Gender'].unique()

array(['Male', 'Female'], dtype=object)

In [54]:
data['Self_Employed'].unique()

array(['No', 'Yes'], dtype=object)

In [55]:

data['Credit_History'].mode()[0]

1.0

In [56]:
data['Credit_History'] =data['Credit_History'].fillna(data['Credit_History'].mode()[0])

In [57]:
data.isnull().sum()*100 / len(data)

Gender               0.0
Married              0.0
Dependents           0.0
Education            0.0
Self_Employed        0.0
ApplicantIncome      0.0
CoapplicantIncome    0.0
LoanAmount           0.0
Loan_Amount_Term     0.0
Credit_History       0.0
Property_Area        0.0
Loan_Status          0.0
dtype: float64

In [58]:
data.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,Male,No,0.0,Graduate,No,5849,0.0,12000,12.0,1.0,Urban,Y
1,Male,Yes,1.0,Graduate,No,4583,1508.0,12800,12.0,1.0,Rural,N
2,Male,Yes,0.0,Graduate,Yes,3000,0.0,6600,12.0,1.0,Urban,Y
3,Male,Yes,0.0,Not Graduate,No,2583,2358.0,12000,12.0,1.0,Urban,Y
4,Male,No,0.0,Graduate,No,6000,0.0,14100,12.0,1.0,Urban,Y

In [59]:
data.shape

(586, 12)

In [60]:
data['Dependents'].unique()

array([0., 1., 2., 3.])

In [96]:
from sklearn.preprocessing import LabelEncoder
le_gender = LabelEncoder()
data['Gender'] = le_gender.fit_transform(data['Gender'])

le_married = LabelEncoder()
data['Married'] = le_married.fit_transform(data['Married'])

le_education = LabelEncoder()
data['Education'] = le_education.fit_transform(data['Education'])

le_self_employed = LabelEncoder()
data['Self_Employed'] = le_self_employed.fit_transform(data['Self_Employed'])

le_property_area = LabelEncoder()
data['Property_Area'] = le_property_area.fit_transform(data['Property_Area'])

le_loan_status = LabelEncoder()
data['Loan_Status'] = le_loan_status.fit_transform(data['Loan_Status'])

# data['Gender'] = data['Gender'].map({'Male':1,'Female':0}).astype('int')
# data['Married'] = data['Married'].map({'Yes':1,'No':0}).astype('int')
# data['Education'] = data['Education'].map({'Graduate':1,'Not Graduate':0}).astype('int')
# data['Self_Employed'] = data['Self_Employed'].map({'Yes':1,'No':0}).astype('int')
# data['Property_Area'] = data['Property_Area'].map({'Rural':0,'Semiurban':2,'Urban':1}).astype('int')
# data['Loan_Status'] = data['Loan_Status'].map({'Y':1,'N':0}).astype('int')

In [62]:
data.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,1,0,0.0,0,0,5849,0.0,12000,12.0,1.0,2,1
1,1,1,1.0,0,0,4583,1508.0,12800,12.0,1.0,0,0
2,1,1,0.0,0,1,3000,0.0,6600,12.0,1.0,2,1
3,1,1,0.0,1,0,2583,2358.0,12000,12.0,1.0,2,1
4,1,0,0.0,0,0,6000,0.0,14100,12.0,1.0,2,1

In [63]:
y = data['Loan_Status']

In [27]:
y

0      1
1      0
2      1
3      1
4      1
      ..
609    1
610    1
611    1
612    1
613    0
Name: Loan_Status, Length: 586, dtype: int64

In [66]:
X = data.drop('Loan_Status',axis=1)
y = data['Loan_Status']

In [67]:
rf_model_optimized = RandomForestClassifier(n_estimators=270,
 min_samples_split=5,
 min_samples_leaf=5,
 max_features='sqrt',
 max_depth=5)
rf_model_optimized.fit(X,y)

RandomForestClassifier(max_depth=5, min_samples_leaf=5, min_samples_split=5,
                       n_estimators=270)

In [65]:
cols = ['Gender','Married','Dependents','Education','Self_Employed','ApplicantIncome','CoapplicantIncome','LoanAmount','Loan_Amount_Term']

In [19]:
from sklearn.preprocessing import StandardScaler
st = StandardScaler()
X[cols]=st.fit_transform(X[cols])

In [20]:
X

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,0.478029,-1.358183,-0.748542,-0.531296,-0.397621,0.093956,-0.551193,-0.280006,0.281452,1.0,2
1,0.478029,0.736278,0.248380,-0.531296,-0.397621,-0.122556,-0.043947,-0.183493,0.281452,1.0,0
2,0.478029,0.736278,-0.748542,-0.531296,2.514955,-0.393281,-0.551193,-0.931467,0.281452,1.0,2
3,0.478029,0.736278,-0.748542,1.882189,-0.397621,-0.464597,0.241968,-0.280006,0.281452,1.0,2
4,0.478029,-1.358183,-0.748542,-0.531296,-0.397621,0.119780,-0.551193,-0.026660,0.281452,1.0,2
...,...,...,...,...,...,...,...,...,...,...,...
609,-2.091924,-1.358183,-0.748542,-0.531296,-0.397621,-0.410383,-0.551193,-0.871146,0.281452,1.0,0
610,0.478029,0.736278,2.242223,-0.531296,-0.397621,-0.204132,-0.551193,-1.245133,-2.507682,1.0,0
611,0.478029,0.736278,0.248380,-0.531296,-0.397621,0.474135,-0.470464,1.324517,0.281452,1.0,2
612,0.478029,0.736278,1.245301,-0.531296,-0.397621,0.390506,-0.551193,0.528288,0.281452,1.0,2
613,-2.091924,-1.358183,-0.748542,-0.531296,2.514955,-0.122556,-0.551193,-0.123173,0.281452,0.0,1

In [68]:
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.metrics import accuracy_score
import numpy as np

model_df={}
def model_val(model,X,y):
    X_train,X_test,y_train,y_test=train_test_split(X,y,
                                                   test_size=0.20,
                                                   random_state=42)
    model.fit(X_train,y_train)
    y_pred=model.predict(X_test)
    print(f"{model} accuracy is {accuracy_score(y_test,y_pred)}")

    score = cross_val_score(model,X,y,cv=5)
    print(f"{model} Avg cross val score is {np.mean(score)}")
    model_df[model]=round(np.mean(score)*100,2)

Logistic Regression

In [69]:
from sklearn.linear_model import LogisticRegression
lr_model = LogisticRegression()
model_val(lr_model,X,y)

LogisticRegression() accuracy is 0.7542372881355932
LogisticRegression() Avg cross val score is 0.7576126321889033

Decision Tree

In [37]:
from sklearn.tree import DecisionTreeClassifier
dt_model = DecisionTreeClassifier()
model_val(dt_model,X,y)

DecisionTreeClassifier() accuracy is 0.6949152542372882
DecisionTreeClassifier() Avg cross val score is 0.6859481384905115

Random Forest

In [70]:
from sklearn.ensemble import RandomForestClassifier
rf_model =RandomForestClassifier()
model_val(rf_model,X,y)

RandomForestClassifier() accuracy is 0.7457627118644068
RandomForestClassifier() Avg cross val score is 0.7883963494132986

In [23]:
X = data.drop('Loan_Status',axis=1)
y = data['Loan_Status']

In [71]:
rf_model_optimized = RandomForestClassifier(n_estimators=270,
 min_samples_split=5,
 min_samples_leaf=5,
 max_features='sqrt',
 max_depth=5)
rf_model_optimized.fit(X,y)

RandomForestClassifier(max_depth=5, min_samples_leaf=5, min_samples_split=5,
                       n_estimators=270)

In [72]:
import pickle

pickle.dump(rf_model_optimized , open('RF_2.pkl' , 'wb'))

In [73]:
loaded_model = pickle.load(open('RF_2.pkl' , 'rb'))

# model = joblib.load('loan_status_predict')
# for Y
# LP001002,Male,No,0,Graduate,No,5849,0,12000,12,1,Urban,Y
# test_input = pd.DataFrame({
#     'Gender':'Male',
#     'Married':'No',
#     'Dependents':0,
#     'Education':'Graduate',
#     'Self_Employed':'No',
#     'ApplicantIncome':5849,
#     'CoapplicantIncome':0,
#     'LoanAmount':12000,
#     'Loan_Amount_Term':12,
#     'Credit_History':1,
#     'Property_Area': 'Urban'
# },index=[0])

# for N
# LP001014,Male,Yes,0,Graduate,No,3036,2504,15800,12,0,Semiurban,N
test_input = pd.DataFrame({
    'Gender':'Male',
    'Married':'Yes',
    'Dependents':0,
    'Education':'Graduate',
    'Self_Employed':'No',
    'ApplicantIncome':3036,
    'CoapplicantIncome':2504,
    'LoanAmount':15800,
    'Loan_Amount_Term':12,
    'Credit_History':0,
    'Property_Area': 'Semiurban'
},index=[0])

test_input['Gender']= le_gender.fit_transform(test_input['Gender'])
test_input['Married']= le_married.fit_transform(test_input['Married'])
test_input['Education']= le_education.fit_transform(test_input['Education'])
test_input['Self_Employed']= le_self_employed.fit_transform(test_input['Self_Employed'])
test_input['Property_Area']= le_property_area.fit_transform(test_input['Property_Area'])

In [74]:
result = loaded_model.predict(test_input)

le_loan_status.inverse_transform([result])

# if result==1:
#     print("Loan Approved")
# else:
#     print("Loan Not Approved")

/Users/metadesign/Desktop/projects/sust/Debt-Prediction-Model-and-API/venv/lib/python3.11/site-packages/sklearn/preprocessing/_label.py:153: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array(['N'], dtype=object)

In [116]:
# le_gender.inverse_transform([0,1])
le_married.inverse_transform([0,1,])
# le_education.inverse_transform([0,1,])
# le_self_employed.inverse_transform([0,1])
# le_property_area.inverse_transform([0,1,2])
# le_loan_status.inverse_transform([0,1])

array(['No', 'Yes'], dtype=object)