In [3]:
%pip install pandas

Collecting pandas
  Downloading pandas-2.1.4-cp311-cp311-macosx_11_0_arm64.whl.metadata (18 kB)
Collecting numpy<2,>=1.23.2 (from pandas)
  Using cached numpy-1.26.2-cp311-cp311-macosx_11_0_arm64.whl.metadata (115 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/metadesign/Desktop/projects/sust/Debt-Prediction-Model-and-API/venv/lib/python3.11/site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2023.3.post1-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.1 (from pandas)
  Downloading tzdata-2023.3-py2.py3-none-any.whl (341 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 341.8/341.8 kB 1.0 MB/s eta 0:00:00a 0:00:01
Requirement already satisfied: six>=1.5 in /Users/metadesign/Desktop/projects/sust/Debt-Prediction-Model-and-API/venv/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.1.4-cp311-cp311-macosx_11_0_arm64.whl (10.8 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 10.8/10.8 MB 2.4 MB/s eta 0:00:0000:0100:01
Using cached numpy-1.26.2-cp311-cp311-macosx_11_0_arm64.whl (14.0 MB)
Downloading pytz-2023.3.post1-py2.py3-none-any.whl (502 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 502.5/502.5 kB 2.6 MB/s eta 0:00:0000:0100:01
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-1.26.2 pandas-2.1.4 pytz-2023.3.post1 tzdata-2023.3

[notice] A new release of pip is available: 23.3.1 -> 23.3.2
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [4]:
%pip install -U scikit-learn

Collecting scikit-learn
  Downloading scikit_learn-1.3.2-cp311-cp311-macosx_12_0_arm64.whl.metadata (11 kB)
Requirement already satisfied: numpy<2.0,>=1.17.3 in /Users/metadesign/Desktop/projects/sust/Debt-Prediction-Model-and-API/venv/lib/python3.11/site-packages (from scikit-learn) (1.26.2)
Collecting scipy>=1.5.0 (from scikit-learn)
  Downloading scipy-1.11.4-cp311-cp311-macosx_12_0_arm64.whl.metadata (165 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 165.4/165.4 kB 814.3 kB/s eta 0:00:00a 0:00:01
Collecting joblib>=1.1.1 (from scikit-learn)
  Using cached joblib-1.3.2-py3-none-any.whl.metadata (5.4 kB)
Collecting threadpoolctl>=2.0.0 (from scikit-learn)
  Using cached threadpoolctl-3.2.0-py3-none-any.whl.metadata (10.0 kB)
Downloading scikit_learn-1.3.2-cp311-cp311-macosx_12_0_arm64.whl (9.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 9.4/9.4 MB 2.4 MB/s eta 0:00:0000:0100:01
Using cached joblib-1.3.2-py3-none-any.whl (302 kB)
Downloading scipy-1.11.4-cp311-cp311-macosx_12_0_arm64.whl (29.7 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 29.7/29.7 MB 942.4 kB/s eta 0:00:0000:0100:01
Using cached threadpoolctl-3.2.0-py3-none-any.whl (15 kB)
Installing collected packages: threadpoolctl, scipy, joblib, scikit-learn
Successfully installed joblib-1.3.2 scikit-learn-1.3.2 scipy-1.11.4 threadpoolctl-3.2.0

[notice] A new release of pip is available: 23.3.1 -> 23.3.2
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
from sklearn.preprocessing import LabelEncoder

In [2]:
df = pd.read_csv('../../files/csv/dataset_2_train.csv')

In [ ]:
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [ ]:
df.shape

(614, 13)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             601 non-null    object
 2   Married            611 non-null    object
 3   Dependents         599 non-null    object
 4   Education          614 non-null    object
 5   Self_Employed      582 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         592 non-null    float64
 9   Loan_Amount_Term   600 non-null    float64
 10  Credit_History     564 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.5+ KB

In [ ]:
df.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [7]:
mean_rate = df['LoanAmount'].mean()
df['LoanAmount'].fillna(mean_rate, inplace=True)

In [ ]:
df.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            0
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [8]:
mean_rate = df['Loan_Amount_Term'].mean()
df['Loan_Amount_Term'].fillna(mean_rate, inplace=True)

In [9]:
mean_rate = df['Credit_History'].mean()
df['Credit_History'].fillna(mean_rate, inplace=True)

df['Self_Employed'].fillna('Not Given', inplace=True)
df['Gender'].fillna('Not Given', inplace=True)
df['Dependents'].fillna('Not Given', inplace=True)
df['Married'].fillna('Not Given', inplace=True)

In [10]:
label_encoder = LabelEncoder()

df['Gender'] = label_encoder.fit_transform(df['Gender'])
df['Married'] = label_encoder.fit_transform(df['Married'])
df['Dependents'] = label_encoder.fit_transform(df['Dependents'])
df['Education'] = label_encoder.fit_transform(df['Education'])
df['Self_Employed'] = label_encoder.fit_transform(df['Self_Employed'])
df['Property_Area'] = label_encoder.fit_transform(df['Property_Area'])
df['Loan_Status'] = label_encoder.fit_transform(df['Loan_Status'])

In [11]:
features=["Gender","Married","Dependents","Education","Self_Employed","ApplicantIncome","CoapplicantIncome","LoanAmount","Loan_Amount_Term","Credit_History","Property_Area"]
target=["Loan_Status"]
x=df[features]
y=df[target]

In [12]:

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=1, shuffle=False)
x_train.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,1,0,0,0,0,5849,0.0,146.412162,360.0,1.0,2
1,1,2,1,0,0,4583,1508.0,128.000000,360.0,1.0,0
2,1,2,0,0,2,3000,0.0,66.000000,360.0,1.0,2
3,1,2,0,1,0,2583,2358.0,120.000000,360.0,1.0,2
4,1,0,0,0,0,6000,0.0,141.000000,360.0,1.0,2

In [13]:
y_train.head(100)

    Loan_Status
0             1
1             0
2             1
3             1
4             1
..          ...
95            0
96            1
97            1
98            1
99            1

[100 rows x 1 columns]

In [14]:
model  = RandomForestClassifier()
model.fit(x_train, y_train)

/Users/metadesign/Desktop/projects/sust/Debt-Prediction-Model-and-API/venv/lib/python3.11/site-packages/sklearn/base.py:1152: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

RandomForestClassifier()

In [15]:
import pickle

pickle.dump(model , open('Randomf_dataset_2_train.pkl' , 'wb'))
# loaded_model = pickle.load(open('Randomf.pkl' , 'rb'))

In [6]:
label_encoder = LabelEncoder()

# New data point
new_data = pd.DataFrame({
    'Gender': ['Male'],
    'Married': ['Yes'],
    'Dependents': [0],
    'Education': ['Graduate'],
    'Self_Employed': ['No'],
    'ApplicantIncome': [5720],
    'CoapplicantIncome': [0],
    'LoanAmount': [110],
    'Loan_Amount_Term': [360],
    'Credit_History': [1],
    'Property_Area': ['Urban']
})

new_data['Self_Employed'].fillna('Not Given', inplace=True)
new_data['Gender'].fillna('Not Given', inplace=True)
new_data['Dependents'].fillna('Not Given', inplace=True)

new_data['Gender']= label_encoder.fit_transform(new_data['Gender'])
new_data['Married']= label_encoder.fit_transform(new_data['Married'])
new_data['Dependents']= label_encoder.fit_transform(new_data['Dependents'])
new_data['Education']= label_encoder.fit_transform(new_data['Education'])
new_data['Self_Employed']= label_encoder.fit_transform(new_data['Self_Employed'])
new_data['Property_Area']= label_encoder.fit_transform(new_data['Property_Area'])


new_data['Loan_Status']='Not Given'
# new_data['Loan_Status']= 'Not Given'
new_data['Loan_Status'] = label_encoder.fit_transform(new_data['Loan_Status'])

# Make prediction
# prediction = model.predict(new_data.drop(['Loan_Status'], axis=1))

# Decode the prediction if needed
# decoded_prediction = label_encoder.inverse_transform(prediction)

In [13]:
import pickle

loaded_model = pickle.load(open('../../pkl_files/Randomf_dataset_2_train.pkl' , 'rb'))

loaded_model.predict(new_data.drop(['Loan_Status'], axis=1))

array([1])

In [ ]:
prediction

array([1])

In [ ]:
decoded_prediction = label_encoder.inverse_transform(prediction)

ValueError: ignored

In [ ]:
%pip freeze > requirements.txt

In [ ]:
!pip install session-info

Collecting session-info
  Downloading session_info-1.0.0.tar.gz (24 kB)
  Preparing metadata (setup.py) ... done
Collecting stdlib_list (from session-info)
  Downloading stdlib_list-0.10.0-py3-none-any.whl (79 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 79.8/79.8 kB 2.3 MB/s eta 0:00:00
Building wheels for collected packages: session-info
  Building wheel for session-info (setup.py) ... done
  Created wheel for session-info: filename=session_info-1.0.0-py3-none-any.whl size=8027 sha256=1974a0cea7c5712c21dacf92052f9b549cf8e4b416a251728ee54f1ee14b2054
  Stored in directory: /root/.cache/pip/wheels/6a/aa/b9/eb5d4031476ec10802795b97ccf937b9bd998d68a9b268765a
Successfully built session-info
Installing collected packages: stdlib_list, session-info
Successfully installed session-info-1.0.0 stdlib_list-0.10.0

In [ ]:
import session_info
session_info.show()

AttributeError: ignored